swagger: '2.0'

info:
  version: "0.0.1"
  title: Smash API
  description: API for http://smash.cologne

host: smash.cologne
basePath: /api
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
  - application/problem+json

paths:
  /players:
    get:
      description: |
        Gets a list of `Player` objects.
      parameters:
        - $ref: '#/parameters/pageNumber'
        - $ref: '#/parameters/pageSize'
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              items:
                type: array
                minItems: 0
                maxItems: 100
                uniqueItems: true
                items:
                  $ref: '#/definitions/Player'
              total:
                type: integer
              count:
                type: integer
              _links:
                $ref: '#/definitions/PaginationLinks'
    post:
      description: |
        Creates a new `Player` model
      parameters:
        - name: player
          in: body
          description: The update player model
          schema:
            $ref: '#/definitions/Player'
          required: true
      responses:
        201:
          description: Succesfully created
          headers:
            Location:
              description: Shows the url of the created player
              type: string
              format: url
        401:
          $ref: '#/responses/401'
  /players/{id}:
    get:
      description: |
        Gets a specific `Player` object identified by its id
      parameters:
        - name: id
          in: path
          type: number
          format: integer
          description: ID of the player
          required: true
      responses:
        200:
          description: Succesful response
          schema:
            $ref: '#/definitions/Player'
    put:
      description: |
        Updates a specific `Player` model identified by its id
      parameters:
        - name: id
          in: path
          type: number
          format: integer
          description: ID of the player
          required: true
        - name: player
          in: body
          description: The player model to be updated
          schema:
            $ref: '#/definitions/Player'
          required: true
      responses:
        200:
          description: Succesful response
    delete:
      description: |
        Deletes a `Player` model
      parameters:
        - name: id
          in: path
          type: number
          format: integer
          description: ID of the player
          required: true
      responses:
        200:
          description: OK

definitions:
  Player:
    type: object
    description: A model describing a badminton player
    properties:
      id:
        type: number
        format: integer
        description: Unique identifier representing a specific player.
      name:
        type: string
        description: Name of a player.

  PaginationLinks:
    type: object
    properties:
      self:
        type: string
        description: URI of this collection
        format: url
      first:
        type: string
        description: URI of the first set of this collection
        format: url
      last:
        type: string
        description: URI of the last set of this collection
        format: url
      prev:
        type: string
        description: URI of the previous set of this collection
        format: url
      next:
        type: string
        description: URI of the next set of this collection
        format: url
    required:
    - self
    - first
    - last

responses:
  401:
    description: Unauthorized
    schema:
      type: object
      properties:
        detail:
          type: string
        status:
          type: string
        type:
          type: string
        title:
          type: string

parameters:
  pageSize:
    name: pageSize
    in: query
    description: Number of entities returned
    type: integer
    default: 20
    required: false

  pageNumber:
    name: pageNumber
    in: query
    description: Page number
    type: integer
    default: 1
    maximum: 100
    minimum: 1
    required: false